header{
    background-color: yellow;
    nav{
        text-align: center;
        a{
            color: red;
            }
            &:hover{
                color: blue;
            }
        }
        .item-contacto{
            color: green;
        }
    }
